<%#= #Browser.inspect %>

<section id="restoran">
  <div id="restoran-container">

    <div id="restoran-row">
      <div class="restoran-menu">
        <ul>
          <button class="filter" data-filter="all" data-hash="all">Все меню <sup><span>(</span><%= @total %><span>)</span></sup></button>
          <%- @restoran.categories.each do |menu| %>
            <% if menu.products.count > 0 %>
              <button class="filter" data-filter=".<%= menu.slug %>" data-hash="<%= menu.slug %>"><%= menu.name  %><%- if menu.products.count > 0 %> <sup><span>(</span><%= menu.products.count %><span>)</span></sup><% end -%></button>
            <% end %>
          <% end -%>
        </ul>
        <div class="restoran-description">
          <h3>Тратторія «Бруно»</h3>
          <%= image_tag 'tr.jpg' %>
          <p>Тратторія «Бруно» пропонує вас скуштувати найкращі страви італійської кухні.</p>
          <p class="address"><i class="addres-icon"></i>вул. Львівська 16, м. Стрий</p>
          <p class="phone"><i class="phone-icon"></i>+38 (097) 097 -05-05</p>
        </div>
      </div>

      <div class="restoran-products">

        <%#- @restoran.categories.each do |menu_product| %>
        <% cache do %>
          <%- @products.each do |product| %>
            <div class="product_item <%= cycle('first', '', '', 'last') %> <%= product.category.slug %> all">
              <%#= product.inspect %>
              <div class="wrapp-me">
                <div class="img-hol">
                  <%= image_tag(product.avatar.url(:main)) %>
                </div>
                <div class="descr">
                  <div class="price_tag"><%= product.price.round %></div>
                  <div class="price_currency">
                    <span>грн</span>
                  </div>
                  <h3><%= product.name.truncate(26, separator: ' ') %></h3>
                  <div class="hidden-block">
                    <p><%= product.description %></p>
                  </div>
                  <div class="brand-btn-holder">
                    <input type="text" class="quantity" />
                    <a class="order-main-btn" href="#">ЗАМОВИТИ</a>
                  </div>
                </div>

              </div>
            </div>
          <% end -%>
        <% end %>

        <div class="group pager-list">

        </div>
      </div>


      <script type="text/javascript" charset="utf-8">
        $(function(){
          $('.restoran-products').mixItUp({
            selectors: {
              target: '.product_item',
              filter: '.filter',
              sort: '.sort',
              pagersWrapper: '.pager-list'
            },
            load: {
              page: 1
            },
            pagination: {
              limit: 16,
              loop: false,
              generatePagers: true,
              maxPagers: false
            },
            animation: {
              duration: 400,
              effects: 'fade scale(0.15) stagger(20ms) translateZ(-90px) translateY(-20%) rotateX(20deg)',
              easing: 'cubic-bezier(0.645, 0.045, 0.355, 1)'
            },
            controls: {
              activeClass: 'current'
            },
            callbacks: {
              onMixLoad: function(){
                console.log("Mix it up animation: Load");
              },
              onMixStart: function(){
                console.log("Mix it up animation: Start");
              },
              onMixBusy: function(){
                console.log("Mix it up animation: Busy");
              },
              onMixEnd: function(){
                console.log("Mix it up animation: End");
              },
              onMixFail: function(){
                console.log("Mix it up animation: Fail");
              },
              _user: false
            }
          });

          var $menu_buttons_container = $(".restoran-menu ul button");
          var $hashuri = location.hash;

          $menu_buttons_container.on('click', function(){
            //alert( $(this).attr('data-hash') );
            location.hash = $(this).attr('data-hash');
          });

          if(location.hash.length>0 && document.referrer.length == 0){
            //$('.restoran-products').mixItUp('filter', '.'+location.hash+'');
          }
        });
      </script>
    </div>
  </div>


</section>
