<section id="dashboard">
  <div id="dashboard-container">
    <div id="dashboard-row">

      <div class="dashboard-navigation">
        <%= render partial: 'partials/user_cabinet/side_menu' %>
      </div>

      <section id="dashboard-user-profile">
        <%# if notice %>
          <script type="text/javascript" charset="utf-8">
            document = function(){
              swal("Молодец!", "Категорія їжі успішно сворена!");
            };
          </script>
        <%# end %>
        <h2>Каталог їжі</h2>
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Назва</th>
            <th>Ресторан</th>
            <th colspan="2"></th>
          </tr>
          </thead>

          <tbody>
          <% @catalogs.each do |catalog| %>
            <tr>
              <td><%= catalog.name %></td>
              <td><%= catalog.restoran.name %></td>
              <td><%= link_to 'Редагувати', my_catalog_edit_path(catalog), class: 'submit-btn' %></td>
              <td><%= link_to 'Видалити', my_catalog_delete_path(catalog), method: :delete, data: { confirm: 'Ви впевненні?' }, class: 'submit-btn' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'Додати новий', my_catalog_new_path, class: 'back' %>
      </section>

    </div>
  </div>
</section>
