<section id="dashboard">
  <div id="dashboard-container">
    <div id="dashboard-row">

      <div class="dashboard-navigation">
        <%= render partial: 'partials/user_cabinet/side_menu' %>
      </div>

      <section id="dashboard-user-profile">
        <% if notice %>
          <div id="notification">
            <p><%= notice %></p>
          </div>
          <script type="text/javascript" charset="utf-8">
            $(document).ready(function(e){
              var $notification = $("#notification");
              setTimeout(function() {
                $notification.fadeOut("slow");
              }, 4000);
            });
          </script>
        <% end %>
        <h2>Їжа</h2>
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Зображеня</th>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Ресторан</th>
            <th>Категорія</th>
            <th colspan="2"></th>
          </tr>
          </thead>

          <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= image_tag product.avatar.url(:thumb) %></td>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= product.category.name %></td>
              <td><%= product.category.restoran.name %></td>
              <td><%= link_to 'Редагувати', my_product_edit_path(product), class: 'submit-btn' %></td>
              <td><%= link_to 'Видалити', my_product_delete_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'submit-btn' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <%= will_paginate @products %>
        <br>

        <%= link_to 'Додати новий', my_product_new_path, class: 'back' %>
      </section>

    </div>
  </div>
</section>
